body{
      /*justify-content: center;
  align-items: center;*/
  background: linear-gradient(135deg, #86e3ce, #d0e6a5);
  /*display: inline-grid ;*/
}
/*.nav > li > a:hover{
    background-color:#1c4769;
}*/
